h1{
  background-color: aliceblue;
  font-weight:bold;
  color:rgb(116, 116, 120);
  padding-left: 20px;
}
body {
  background-color:aliceblue;
  color:rgb(12, 113, 222);
  font-weight: bold;
  padding: 35px;
}

.card {
  background-color: rgb(145, 236, 210);
  color: black;
  margin:auto;
  padding: 35px;
}

#button-tambah{
  color: red;
  text-align: center;
  background-color:antiquewhite;
}
#button-pesan{
  color:black;
  font-weight: 1000;
  background-color: rgb(181, 227, 227);
  text-align: center;
  
}